
        <div id="wrapper" class="app">
                <header class="">
                    <div class="header-bar">
                        <h1 class="title "><span>IF-AULA</span></h1>
                    </div>
                </header>
                <div class="app-page page1">
                    <div class="login-content">
                        <form class="login-form dinamic-form" ng-submit="login(usuario)">
                            <header>
                                LOGIN: <span style="color:red;" ng-show="falhou">Algo está incorreto !</span>
                            </header>
                            <div class="grupo-input">
                                <input required id="email-login" type="text" ng-model="usuario.username" />
                                <label>Username</label>
                            </div>
                            <div class="grupo-input">
                                <input required id="senha-login"type="password" ng-model="usuario.senha" />
                                <label>Senha</label>
                            </div>
                            <button class="btn btn-flat btn-emerald pull-right" >ENTRAR</button>
                        </form>
                        <p class="links-login-form"><a ng-href="#/recuperarsenha">Esqueceu a senha?</a></p>
                        <p class="links-login-form"><a ng-href="#/cadastro">Cadastre-se</a></p>
                    </div>
                </div>
        </div>
      

