/**
 * Aside bar menu
 * Menu lateral
 * Classes para menus laterais esquerdos ou direitos
 */


.aside-left-menu{
	background: #333;
	display: block;
	height: 90rem;
	padding: 0;
	ul.vertical-menu{
		list-style: none;
		li{
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
			padding-right: 5rem;
			border: 1px solid red;
		}
	}

}

