@import "../libs/constants";
@import "../libs/mixins";

$footer-bg: #25313E;
.footer-totem{
    background: $footer-bg;
    color: white;
	position: absolute;
	width: 100%;
	height: 30px;
	// padding-top: 0.6rem;
	bottom:0%;
	// overflow: hidden;
	// @include translateY(-50%);

	p{
		padding: 5px 0;
		margin:0;

	}
    
}