.app-header{
	width: 100%;
}
.header-bar{
	// background-color: #0084e7;
	background-color: forestgreen;
  	box-shadow: 0 0 4px #8a8a8a;
	height: 6rem;
  	display: flex;

	.title{
		width: 60%;
		height: 100%;
		font-weight: bold;
		color: #fff;
		position: relative;
		margin: 0 auto !important;

		span {
			width: 100%;
			text-align: center;
			position: absolute;
			top: 50%;
			// left: 50%;
			@include translateY(-50%);

		}
	}
	.btn-action {
		// width: 20%;
		// text-align: center;
		color: #fff;
		i{
			@include translate(25%, -50%);

		}
		&:hover,
		&:active{
			background: rgba(0,0,0,0.3);
		}
	}

	.header-buttons {
		height: 100%;
		width: 5em;
		padding-right: 0.5rem;
		display: flex;
		justify-content: space-around;
		align-items:center;

		a {
			height: 50%;
			width: 50%;
			text-align: center;
		}
	}
}
.sub-menu{
	// height: 6rem;
	ul{
		height: 100%;
		padding: 0;
		margin: 0;
		width: 100%;
    	display: flex;
    	flex-direction:row;
		background: rgba(25,182,14,1);

		li{
			width: 50%;
			text-align: center;
			padding: 1rem 0;
			height: 100%;
			background: rgba(25,182,14,1);
			cursor: pointer;
			&:hover,
			&.active{
				// box-shadow: inset 0 -3px 0 0 rgba(255,255,255,1);
				background: rgba(0,0,0,0.1);
				i{
					color: white;
				}
			}
			i{
				color: rgba(0,0,0,0.2);
				// color:white;
			}
		}
	}
}
