@import "../libs/mixins";

$main-nav-width: 19rem;

.wrapper {
    position: relative;
    width: 100%; 
}

.main-container {
    margin-left: $main-nav-width;
    padding-bottom: 1.5rem;
}

.main-nav {
    position: absolute;
    width: $main-nav-width;
    z-index: 10;
    padding-bottom: 3rem;
    text-align: center;

    .buttons {
        width: 90%;
        margin: 1rem auto;
        overflow: hidden;
    }

    button {
        float: left;
        text-align: right;

        i {
            margin: 0;
        }

        &:first-of-type {
            width: 20%;
            @include border-top-right-radius(0);
            @include border-bottom-right-radius(0);
        }

        &:last-of-type {
            width: 80%;
            @include border-top-left-radius(0);
            @include border-bottom-left-radius(0);

            i {
                margin-left: .5rem;
            }
        }
    }

    a {
        color: #8E9EAE;
        display: block;
        font-weight: bold;
        font-size: $font-size-md;
        padding: 1.5rem;
        text-decoration: none;
        text-align: left;

        &:hover,
        &.active {
            background-color: #2F3742;
            color: #fff;
        }

        i {
            display: inline-block;
            font-size: 2rem;
            margin-top: -.4rem;
            float: left;
            margin-right: .8rem;
        }
    }
}

.main-nav-bg {
    background-color: #3E4957;
    bottom: 0;
    position: fixed;
    top: 0;
    width: inherit;
    z-index: -1;
    @include box-shadow();
}