@import "../libs/constants";
@import "../libs/mixins";
@import "../compass/css3";

$panel-radius: .5rem;

@mixin panel-variant($header-bgcolor, $header-color: #fff, $body-border: #ccc, $body-bgcolor: #fff) {
    background-color: $body-bgcolor;

    & > .panel-header {
        background-color: $header-bgcolor;
        border: 1px solid $body-border;
        color: $header-color;
    }

    & > .panel-body {
        border-left: 1px solid $body-border;
        border-right: 1px solid $body-border;
    }

    & > .panel-footer {
        border: 1px solid $body-border;
        border-top: none;
    }
}


.panel {
    background-color: $color-blue;
    @include border-radius($panel-radius);
    @include box-shadow(rgba(0,0,0,.05) 0 1px 1px);
}

.panel-header {
    font-size: $font-size-md;
    overflow: hidden;
    padding: 1rem;
    @include border-top-radius($panel-radius);
}

.panel-body {
    clear: both;
    margin: 0;
    padding: 1rem;
    padding-bottom: 0;
    @include clearfix();
}

.panel-footer {
    padding: 1rem;
    @include border-bottom-radius($panel-radius);
}

//
// Variants
//

.panel-blue {
    @include panel-variant($color-blue);
}

.panel-green {
    @include panel-variant($color-green);
}

.panel-blue-light {
    @include panel-variant($color-blue-light);
}

.panel-orange {
    @include panel-variant($color-orange);
}

.panel-red {
    @include panel-variant($color-red);
}

.panel-white {
    @include panel-variant(#f9f9f9, $color-gray);
}

.panel-gray-light {
    @include panel-variant($color-gray-lighter, $color-gray);

    border: 1px solid #ccc;

    .panel-header,
    .panel-body,
    .panel-footer {
        border: none;
    }

    .panel-header {
        border-bottom: 1px solid #ccc;
    }
}

