@import "../libs/css3";

$todo-checkbox-width: 4rem;
$todo-color-gray: lighten($color-gray-lighter, 10%);
$todo-color-completed: #85ada7;
$todo-font-size: 1.6rem;
$todo-font-size-footer: $todo-font-size * 0.9;
$todo-footer-bottom: 3.5rem;

.todo {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    position: relative;

    @include box-shadow(
        rgba(0, 0, 0, 0.2) 0 .2rem .6rem 0,
        rgba(0, 0, 0, 0.15) 0 .5rem 5rem 0
    );

    &:before {
        z-index: 4;
        content: "";
        border-left: .1rem solid #f5d6d6;
        border-right: .1rem solid #f5d6d6;
        width: .2rem;
        position: absolute;
        top: 1px;
        left: $todo-checkbox-width;
        height: 100%;
    }

    input,
    button {
        outline: none;
    }

    input.add,
    input.edit,
    .list li label {
        background: transparent;
        border: none;
        font-size: $todo-font-size;
        flex-flow: column;
        flex: 1;
        padding: 1.2rem 1.5rem;
    }

    input.add,
    input.edit {
        padding: 1.2rem 2.2rem;
    }

    header {
        background-color: #f0f0f0;
        display: flex;
        position: relative;
        z-index: 3;

        &:before {
            content: "";
            position: absolute;
            height: 1.5rem;
            top: -1.5rem;
            right: 0;
            left: 0;
            border-bottom: 1px solid #6c615c;
            background: #8d7d77;
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
            background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
            background: -moz-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
            background: -o-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
            background: -ms-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
            background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
            @include border-top-left-radius(.2rem);
            @include border-top-right-radius(.2rem);
        }

        input.toggle-all {
            background: transparent;
            cursor: pointer;
            display: flex;
            font-size: $todo-font-size * 1.8;
            width: $todo-checkbox-width;
            margin: auto;
            @include appearance(none);

            &:before {
                color: $todo-color-gray;
                content: "»";
                font-weight: bolder;
                margin: auto;
                @include rotate(90deg);
            }

            &:checked:before {
                color: $todo-color-completed;
            }
        }

        input.add {
            font-size: $todo-font-size * 1.2;
        }
    }

    .list {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        z-index: 2;

        li {
            display: flex;
            flex-flow: row;
            position: relative;
            font-size: $todo-font-size;
            border-top: .1rem dotted #ccc;

            .edit {
                display: none;
            }

            &.editing {
                border-bottom: none;
                padding: 0;

                .edit {
                    display: flex;
                }

                .view {
                    display: none;
                }

                &:last-child {
                    margin-bottom: -.1rem;
                }
            }

            input.toggle {
                cursor: pointer;
                display: flex !important;
                margin: auto;
                width: $todo-checkbox-width;
                @include appearance(none);

                &:before {
                    content: '✔';
                    color: $todo-color-gray;
                    font-weight: bold;
                    font-size: $todo-font-size;
                    margin: auto;
                    @include text-shadow(0 -.1rem 0 $color-gray-light);
                }

                &:checked:before {
                    color: $todo-color-completed;
                }

                &.hidden:before,
                &.hide:before {
                    display: none;
                }
            }

            label {
                font-size: $todo-font-size;
                @include transition(color 0.4s);

                &:before {
                    content: '';
                }
            }

            &.completed label {
                color: $todo-color-gray;
                text-decoration: line-through;
            }

            &:hover .destroy {
                &:before {
                    color: #a88a8a;
                    content: '✖';
                    font-size: $todo-font-size;
                    margin: auto;
                }
            }

            .destroy {
                display: flex;
                border: none;
                background: none;
                width: $todo-checkbox-width;
                @include appearance(none);
                @include transition(all 0.2s);

                &:hover {
                    @include transform(scale(1.3));
                    @include text-shadow(
                        0 0 .1rem #000,
                        0 0 1rem rgba(0, 0, 0, 0.1)
                    );
                }
            }
        }
    }

    footer {
        bottom: -$todo-footer-bottom;
        color: #777;
        display: flex;
        padding: 0 1.5rem;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 1;

        &:before {
            bottom: $todo-footer-bottom;
            content: "";
            height: $todo-footer-bottom * 2;
            left: 0;
            position: absolute;
            right: 0;
            z-index: -1;

            $todo-footer-pad-1: $todo-footer-bottom * 2 - 1.9rem;
            $todo-footer-pad-2: $todo-footer-bottom * 2 - 1.8rem;

            @include box-shadow(
                0 .1rem .1rem rgba(0, 0, 0, 0.3),
                0 .6rem 0 -.3rem rgba(255, 255, 255, 0.8),
                0 .7rem .1rem -.3rem rgba(0, 0, 0, 0.3),
                0 $todo-footer-pad-1 0 -.6rem rgba(255, 255, 255, 0.8),
                0 $todo-footer-pad-2 .2rem -.6rem rgba(0, 0, 0, 0.2)
            );
        }

        .count {
            float: left;
            font-size: $todo-font-size-footer;
            margin: auto;
            text-align: left;
        }

        .filters {
            flex: 1;
            list-style: none;
            margin: auto;
            padding: 0;

            li {
                display: inline;

                a {
                    color: #83756f;
                    font-size: $todo-font-size-footer;
                    margin: auto .5rem;
                    text-decoration: none;

                    &.selected {
                        font-weight: bold;
                    }
                }
            }
        }

        .remove-completed {
            background: rgba(0, 0, 0, 0.05);
            border: none;
            float: right;
            font-size: $todo-font-size-footer;
            margin: auto;
            padding: .5rem .6rem .2rem;

            @include border-radius(.3rem);
            @include box-shadow(.1rem .1rem .3rem 0 rgba(0, 0, 0, 0.2) inset);

            &:hover {
                background: rgba(0, 0, 0, 0.1);
            }
        }
    }
}

