@import "../libs/constants";
@import "../libs/mixins";

$topbar-bg: #25313E;


.topbar {
    background-color: $topbar-bg;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 100;
    @include box-shadow();

    i.logo, h1 {
        float: left;
        font-size: 2.8rem;
        margin-left: 1rem;
    }

    i.logo {
        margin-right: 0;
        color: #9EB63C;
    }

    h1 {
        color: #fff;
        display: inline-block;
        padding: 0;
        margin: 0 1rem;
        font-weight: normal;
    }

    .left, .middle, .right {
        display: table;
    }

    .left {
        margin-top: 1rem;
    }

    .middle {
        position: absolute;
        top: 1rem;
        left: 50%;
        width: 30%;
        margin-left: -15%;
    }

    .input-icon-left,
    .search {
        display: inline-block;
        width: 100%;
    }

    .search {
        @include box-sizing(border-box);
    }

    .btn-sm {
        margin-right: .8rem;
        margin-top: 1.2rem;
    }

    .user {
        display: inline-block;
        position: relative;
        float: right;
        padding: 1rem;
        cursor: pointer;

        &:hover {
            background-color: lighten($topbar-bg, 10%);
        }

        img {
            float: left;
            width: 3.2rem;
            height: 3.2rem;
            @include border-radius(10rem);
        }

        i {
            color: #fff;
            margin-top: 1rem;
            margin-left: 1rem;
        }
    }
}

