@import '../constants';

//
// Outline focus
//

@mixin reset-focus() {
    outline: none;
}

@mixin input-focus($color: $color-gray-light) {
    $color-rgba: rgba(red($color), green($color), blue($color), .5);

    &:focus {
        outline: 0;
        @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba);
    }
}