@mixin link-block($color: #aaa, $icon-size: 2rem, $color-hover: false) {
    color: $color;
    display: inline-block;
    font-size: $font-size-sm;
    text-align: center;
    text-decoration: none;

    &:hover,
    &.active {
        @if $color-hover == false {
            $color-hover: darken($color, 15%);
        }

        color: $color-hover;
    }

    i {
        display: block;
        font-size: $icon-size;
        margin-bottom: .4rem;
        margin-right: 0;
    }
}