$supported: (-webkit, -khtml, -moz, -ms, -o);

@mixin prefix($property, $value) {
    @each $prop in $supported {
        #{$prop}-#{$property}: $value;
    }

    #{$property}: $value;
}

@mixin prefix-value($property, $value) {
    @each $prop in $supported {
        #{$property}: #{$prop}-#{$value};
    }

    #{$property}: $value;
}