
            <div class="app-page page1">
                <!-- <h1>PhoneGap</h1> -->
                <ul class="list">
                    <li class="title-list list-item">

                        <h1 class="text-center">HOJE</h1>
                        <h2 class="text-center">{{ diaDaSemana }}</h2>
                        <small class="text-center">Clique para fazer checkin, ganhe pontos e seja um super-aluno \õ '</small>
                    </li>
                    </li>
                    <li class="list-item" ng-repeat="disciplina in disciplinas" ng-if="checkDia(disciplina)" ng-click="showModal(disciplina)">
                        <div class="list-content">
                            <span class="list-item-title">
                                {{ disciplina.sigla | uppercase }}
                                &nbsp - &nbsp&nbsp
                            </span>
                            <span class="ambiente">
                                {{ disciplina.nome | capitalize }}
                            </span>

                        </div>
                        <span class="checkin-time" ng-repeat="horario in disciplina.horario | filter:{dia_da_semana:diaDeHoje}">
                                 {{ horario.hora }} : {{ horario.minuto }}
                            </span>
                            <span class="check-pin">
                                <i class="fa fa-map-marker"></i>
                            </span>
                    </li>
                    <li class="end-list list-item"></li>

                </ul>

                <ul class="list">
                    <li class="title-list list-item">
                        <h1 class="text-center">ACONTECENDO</h1>
                    </li>
                    <li class="list-item" ng-repeat="checkin in checkins | orderBy:'-time'" ng-hide="checkinFilterDiaDeHoje(checkin)">

                        <div class="list-content">
                            <span class="list-item-title">
                                {{ checkin.disciplina | uppercase }}
                            </span>
                            <span class="ambiente">&nbsp - &nbsp
                                {{ checkin.ambiente | capitalize}}
                            </span>
                        </div>
                        <span class="checkin-time">{{ checkin.time | date:'H:mm'}}h</span>

                    </li>

                    <li class="end-list list-item"></li>
                </ul>
            </div>