 <div class="modal fade">
          <div class="modal-dialog modal-lg">
            
            <div class="modal-content">
             
              <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{sigla | uppercase}}</h4>
                <small class="modal-title">{{nome | capitalize}}</small>
              </div>
              <form class="form-horizontal" ng-submit="btnCheckIn(ambiente)">
              <div class="modal-body">
                <p>Faça checkin agora, ganhe pontos e seja um super-aluno \õ ' </p>

                 
                  <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Ambiente de Aula :</label>
                    <div class="col-sm-10">
                      <select ng-model="ambiente.nome">
                        <option selected disabled hidden value=''></option>
                        <option disabled selected> -- Selecione uma opção -- </option>
                        <option ng-repeat="ambiente in ambientes" ng-value="ambiente.nome">{{ ambiente.descricao | uppercase}}</option>
                        <!-- <option value="">Outro</option> -->
                      </select>
                    </div>
                  </div>
                  <!--
                  <div class="form-group" ng-show="ambiente.nome==''">
                    <label for="age" class="col-sm-2 control-label">Outro :</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" ng-model="ambiente.outronome">
                    </div>
                  </div>
                  -->
              </div>
              <div class="modal-footer">
                  <button type="button" ng-click="cancel()" class="btn">Cancel</button>
                  <button type="submit" ng-click="$modalSuccess()" class="btn btn-primary">FAZER CHECKIN</button>
              </div>
              </form>
              
            </div>
             
          </div>
        </div>