@import "../libs/mixins";
@import "../libs/constants";
@import "../libs/css3";

$btn-padding-sm: 0.5rem 1.2rem 0.6rem;
$btn-padding-md: 0.7rem 1.2rem 0.8rem;
$btn-padding-lg: 0.8rem;

$btn-radius-sm: 0.4rem;
$btn-radius-md: 0.4rem;
$btn-radius-lg: 0.6rem;

@mixin btn-size($padding, $size, $line-h, $radius) {
    padding: $padding;
    font-size: $size;
    line-height: $line-h;
    @include border-radius($radius);
    @content;
}

@mixin btn-variant($bgcolor, $color: #fff) {
    color: $color;
    background-color: $bgcolor;
    border-color: $bgcolor;

    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $color;
        background-color: lighten($bgcolor, 5%);
        border-color: lighten($bgcolor, 7%);
    }

    .open & {
        &.dropdown-toggle {
            color: $color;
            background-color: darken($bgcolor, 8%);
            border-color: darken($bgcolor, 12%);
        }
    }

    &:active,
    &.active {
        background-image: none;
    }

    .open & {
        &.dropdown-toggle {
            background-image: none;
        }
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: $bgcolor;
            border-color: $bgcolor;
        }
    }

    .badge {
        color: $bgcolor;
        background-color: $color;
    }

    @content;
}


.btn {
    background-image: none;
    // border: .1rem solid transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    // text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;

    @include btn-size($btn-padding-md, $font-size-md, $line-height-md, $btn-radius-md);
    @include box-shadow(rgba(0, 0, 0, 0.3) 0 -.2rem 0 inset);
    @include transition-timing-function(ease-in-out);
    @include transition-duration(.1s);
    @include transition-delay(0s);

    &:focus {
        @include reset-focus();
    }

    &:hover,
    &:focus {
        color: $color-blue;
        text-decoration: none;
    }

    &:active,
    &.active {
        outline: 0;
        background-image: none;
        @include box-shadow(inset 0 .3rem .5rem rgba(0, 0, 0, .125));
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: not-allowed;
        pointer-events: none; // Future-proof disabling of clicks
        @include opacity(.65);
        @include box-shadow(none);
    }

    &.btn-circle {
        width: 3.3rem;
        height: 3.3rem;
        text-align: center;
        padding: .8rem 0;
        font-size: 1.4rem;
        line-height: 1.4rem;
        @include border-radius(1.8rem);
    }

    i.pull-left {
        margin-right: .6rem;
    }
    &.btn-flat{
        box-shadow: none;
    }
}

//
// Link buttons
//

.btn-link {
    color: $color-link;
    font-weight: normal;
    cursor: pointer;
    @include border-radius(0);

    &,
    &:active,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
        @include box-shadow(none);
    }

    &,
    &:hover,
    &:focus,
    &:active {
        border-color: transparent;
    }

    &:hover,
    &:focus {
        color: $color-link-hover;
        text-decoration: underline;
        background-color: transparent;
    }

    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus {
            color: $color-link-disabled;
            text-decoration: none;
        }
    }
}

//
// Button Sizes
//

.btn-sm {
    @include btn-size($btn-padding-sm, $font-size-sm, $line-height-sm, $btn-radius-sm);
}

.btn-lg {
    @include btn-size($btn-padding-lg, $font-size-lg, $line-height-lg, $btn-radius-lg);
}

//
// Block button
//

.btn-block {
    display: block;
    width: 100%;
    padding-left: $btn-padding-md;
    padding-right: $btn-padding-md;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
    margin-top: $btn-padding-md;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn-block {
        width: 100%;
    }
}

//
// Alternate buttons
//

.btn-purple {
    @include btn-variant($color-purple);
}

.btn-blue {
    @include btn-variant($color-blue);
}
.btn-blue-dark {
    @include btn-variant($color-blue-dark);
}

.btn-blue-light {
    @include btn-variant($color-blue-light);
}

.btn-green {
    @include btn-variant($color-green);
}

.btn-green-dark {
    @include btn-variant($color-green-dark);
}

.btn-green-light {
    @include btn-variant($color-green-light);
}

.btn-orange {
    @include btn-variant($color-orange);
}

.btn-red {
    @include btn-variant($color-red);
}

.btn-twitter {
    @include btn-variant($color-twitter);
}

.btn-facebook {
    @include btn-variant($color-facebook);
}

.btn-google-plus {
    @include btn-variant($color-google-plus);
}

$color-verde-emerald:#2ecc71;
.btn-emerald{
    @include btn-variant(darken(#2ecc71, 12%));
}