@import "../libs/mixins";
@import "../libs/constants";
@import "../libs/css3";


.color-blue { color: $color-blue; }
.color-green { color: $color-green; }
.color-purple { color: $color-purple; }
.color-red { color: $color-red; }
.color-gray-light { color: $color-gray-light; }
.color-gray-lighter { color: $color-gray-lighter; }

a.color-blue:hover { color: $color-blue-dark; }
a.color-green:hover { color: $color-green-dark; }
a.color-purple:hover { color: $color-purple-dark; }
a.color-red:hover { color: $color-red-dark; }

.font-light { font-weight: 300; }
.font-normal { font-weight: normal; font-style: normal; }
.font-bold { font-weight: bold; }
.font-italic { font-style: italic; }
.font-droidsans { font-family: DroidSans, sans-serif; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.mt-15 { margin-top: 1.5rem !important; }
.mb-15 { margin-bottom: 1.5rem !important; }
.pl-15 { padding-left: 1.5rem !important; }

.hide,
.hidden {
    display: none !important;
}

.img-32 {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
}

.clear { clear: both; }
.inline { display: inline-block; }
.pull-left { float: left !important; }
.pull-right { float: right !important; }

.round,
.rounded {
    @include border-radius(100rem);
}

.menu-horizontal{
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		float: left;
	}
}