@import "../libs/constants";
@import "../libs/mixins";
@import "../libs/css3";

$form-font-size: $font-size-md;
$input-padding: .5rem .7rem;
$input-radius: .4rem;


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
    display: block;
    width: 100%;
    padding: $input-padding;
    border: .1rem solid $color-gray-lighter;

    @include border-radius($input-radius);
    @include box-shadow(rgba(0, 0, 0, .2) 0 .1rem .1rem inset);
    @include single-transition(all, 0.15s, linear);
    @include input-focus();
}

input[type="search"] {
    @include border-radius(1.5rem);
}





input[type="radio"],
input[type="checkbox"]{
    -webkit-appearance:none;
    -khtml-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
    font-family:FontAwesome;
    visibility:hidden;
    cursor:pointer
}

input[type="radio"]:before,
input[type="checkbox"]{
    display:inline-block;
    margin-right:15px;
    width:6px;
    height:6px;
    visibility:visible
}

input[type="radio"]:before{
    content:"\f10c";
}
input[type="radio"]:checked:before{
    content:"\f111";
    }

input[type="checkbox"]:before{
    content:"\f00c";
    color: silver;
    }
input[type="checkbox"]:checked:before{
    content:"\f00c";
    color: dodgerblue;
}






label {
    color: inherit;
    display: inline-block;
    font-size: $form-font-size;
}

.input-icon-right,
.input-icon-left {
    position: relative;

    i {
        color: $color-gray-lighter;
        top: .7rem;
        position: absolute;
    }
}

.input-icon-left {
    i {
        left: 1rem;
    }

    input {
        padding-left: 3rem;

        &.search {
            padding-right: 1rem;
        }
    }
}

.input-icon-right i {
    right: 1rem;
}

.dinamic-form{
    background: white;
    overflow: auto;
    padding: 2rem;
    // border: 1px solid black;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);

    @include border-radius(.5rem);

    header{
        margin-bottom: 3rem;
    }
    .btn-flat{
        box-shadow: none;
    }
    .form-select{
        margin-bottom: 4rem;
        position: relative;
        &:before{
            font-family:FontAwesome;
            content:"\f0d7";
            display:inline-block;
            margin-right:15px;
            width:6px;
            height:6px;
            visibility:visible;
            position: absolute;
            left: 99%;
            color: silver;
            @include translateX(-50%);
        }

        select{
            @include appearance(none);
            width: 100%;
            border: 0;
            border-bottom:1px solid silver;
            // border-bottom:1px solid forestgreen;
            & option {
                @include appearance(none);
                border: none;
                @include box-shadow(0 0 3px #8a8a8a );
            }
        }
    }
    .grupo-input{
        position: relative;
        margin-bottom:3rem;

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="search"]{
            background: none;
            box-shadow: none;
            border:none;
            border-bottom:1px solid #ddd;
            @include appearance(none);
            @include border-radius(0);

            &:focus{
                border-color: dodgerblue;
            }

            @include transition(border 0.2s);
        }

        label{
            position: absolute;
            top: 14px;
            left: .5rem;
            color: #bbb;
            color:#cdcdcd;
            font-weight: lighter;
            @include transition(0.2s ease all);
        }

        input:focus ~ label, input:valid ~ label {
            top:-14px;
            font-size: 1.3rem;

        }
        input:invalid{
            // border-color: red;
        }
        input:invalid ~ label {
            // top:-14px;
            // font-size: 1.3rem;
            // color: red;
        }
        input:focus ~ label{
            color:dodgerblue;
        }
    }//grupo-input
}

