@import "../libs/mixins";

@function lower-bound($range){
    @if length($range) <= 0 {
        @return 0;
    }

    @return nth($range,1);
}

@function upper-bound($range) {
    @if length($range) < 2 {
        @return 999999999999;
    }

    @return nth($range, 2);
}

$row-width: 80rem;
// $row-width: 100%;
$column-gutter: 3rem;
$total-columns: 12;
$default-float: left;
$opposite-direction: right;

// Media Query Ranges
$small-range: (0, 640px);
$medium-range: (641px, 1024px);
$large-range: (1025px, 1440px);
$xlarge-range: (1441px, 1920px);
$xxlarge-range: (1921px);
$screen: "only screen";
$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";
$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";
$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";
$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";
$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";
$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

//
// Grid Functions
//

// @FUNCTION
// $colNumber - Found in settings file
// $totalColumns - Found in settings file
@function grid-calc($colNumber, $totalColumns) {
    @return percentage(($colNumber / $totalColumns));
}

//
// @mixins
//

// For creating container, nested, and collapsed rows.
//
// $behavior - Any special beavior for this row? Default: false. Options: nest, collapse, nest-collapse, false.
@mixin grid-row($behavior: false) {
    // use @include grid-row(nest); to include a nested row
    @if $behavior == nest {
        width: auto;
        // margin-#{$default-float}: -($column-gutter/2);
        margin-#{$opposite-direction}: -($column-gutter/2);
        margin-top: 0;
        margin-bottom: 0;
        max-width: none;
    }

    // use @include grid-row(collapse); to collapsed a container row margins
    @else if $behavior == collapse {
        width: 100%;
        margin: 0;
        max-width: $row-width;
    }

    // use @include grid-row(nest-collapse); to collapse outer margins on a nested row
    @else if $behavior == nest-collapse {
        width: auto;
        margin: 0;
        max-width: none;
    }

    // use @include grid-row; to use a container row
    @else {
        width: 100%;
        margin-#{$default-float}: auto;
        margin-#{$opposite-direction}: auto;
        margin-top: 0;
        margin-bottom: 0;
        max-width: $row-width;
    }

    // Clearfix for all rows
    @include clearfix();
}

// Creates a column, should be used inside of a media query to control layouts
//
// $columns - The number of columns this should be
// $last-column - Is this the last column? Default: false.
// $center - Center these columns? Default: false.
// $offset - # of columns to offset. Default: false.
// $push - # of columns to push. Default: false.
// $pull - # of columns to pull. Default: false.
// $collapse - Get rid of gutter padding on column? Default: false.
// $float - Should this float? Default: true. Options: true, false, left, right.
@mixin grid-column(
    $columns: false,
    $last-column: false,
    $center: false,
    $offset: false,
    $push: false,
    $pull: false,
    $collapse: false,
    $float: true
) {
    position: relative;

    // If collapsed, get rid of gutter padding
    @if $collapse {
        padding-left: 0;
        padding-right: 0;
    }

    // Gutter padding whenever a column isn"t set to collapse
    // (use $collapse:null to do nothing)
    @else if $collapse == false {
        padding-right: $column-gutter / 2;
        padding-left: 0;
        // padding-left: $column-gutter / 2;
    }

    // If a column number is given, calculate width
    @if $columns {
        width: grid-calc($columns, $total-columns);

        // If last column, float naturally instead of to the right
        @if $last-column {
            float: $opposite-direction;
        }
    }

    // Source Ordering, adds left/right depending on which you use.
    @if $push {
        #{$default-float}: grid-calc($push, $total-columns);
        #{$opposite-direction}: auto;
    }

    @if $pull {
        #{$opposite-direction}: grid-calc($pull, $total-columns);
        #{$default-float}: auto;
    }

    // If centered, get rid of float and add appropriate margins
    @if $center {
        margin-#{$default-float}: auto;
        margin-#{$opposite-direction}: auto;
        float: none;
    }

    // If offset, calculate appropriate margins
    @if $offset {
        margin-#{$default-float}: grid-calc($offset, $total-columns) !important;
    }

    @if $float {
        @if $float == left or $float == true { float: $default-float; }
        @else if $float == right { float: $opposite-direction; }
        @else { float: none; }
    }

}

// Create presentational classes for grid
// $size - Name of class to use, i.e. "large" will generate .large-1, .large-2, etc.
@mixin grid-html-classes($size) {
    .column.#{$size}-centered,
    .columns.#{$size}-centered {
        @include grid-column($center:true, $collapse:null, $float:false);
    }

    .column.#{$size}-uncentered,
    .columns.#{$size}-uncentered {
        margin-#{$default-float}: 0;
        margin-#{$opposite-direction}: 0;
        float: $default-float;
    }

    .column.#{$size}-uncentered.opposite,
    .columns.#{$size}-uncentered.opposite {
        float: $opposite-direction;
    }

    @for $i from 1 through $total-columns - 1 {
        .#{$size}-push#{-$i} {
            @include grid-column($push:$i, $collapse:null, $float:false);
        }
        .#{$size}-pull#{-$i} {
            @include grid-column($pull:$i, $collapse:null, $float:false);
        }
    }

    .column,
    .columns {
        float: $default-float;
        @include grid-column($columns:false);
        @include box-sizing(border-box);
    }


    @for $i from 1 through $total-columns {
        .#{$size}#{-$i} {
            @include grid-column($columns:$i,$collapse:null,$float:false);
        }
    }

    // [class*="column"] + [class*="column"]:last-child {
    // .column:last-child,
    // .columns:last-child {
    //     float: $opposite-direction;
    //     // padding-right: ($column-gutter/2);
    // }

    // [class*="column"] + [class*="column"].end {
    //     float: $default-float;
    // }

    @for $i from 0 through $total-columns - 2 {
        .#{$size}-offset-#{$i} { @include grid-column($offset:$i, $collapse:null,$float:false); }
    }

    .column.#{$size}-reset-order,
    .columns.#{$size}-reset-order {
        margin-#{$default-float}: 0;
        margin-#{$opposite-direction}: 0;
        left: auto;
        right: auto;
        float: $default-float;
    }
}


.row {
    @include grid-row;

    &.collapse {
         > .column,
         > .columns {
            @include grid-column($collapse:true);
        }

        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .row {
        @include grid-row($behavior:nest);

        &.collapse {
            @include grid-row($behavior:nest-collapse);
        }
    }
}

.column,
.columns {
    @include grid-column($columns:$total-columns);
}

@media #{$small-up} {
    @include grid-html-classes($size:small);

    .full-width {
        max-width: 100%;
    }
}

@media #{$medium-up} {
    @include grid-html-classes($size:medium);
    // Old push and pull classes
    @for $i from 1 through $total-columns - 1 {
        .push#{-$i} {
            @include grid-column($push:$i, $collapse:null, $float:false);
        }
        .pull#{-$i} {
            @include grid-column($pull:$i, $collapse:null, $float:false);
        }
    }

    .full-width {
        max-width: 100%;
    }
}

@media #{$large-up} {
    @include grid-html-classes($size:large);
    @for $i from 1 through $total-columns - 1 {
        .push#{-$i} {
            @include grid-column($push:$i, $collapse:null, $float:false);
        }
        .pull#{-$i} {
            @include grid-column($pull:$i, $collapse:null, $float:false);
        }
    }

    .full-width {
        max-width: 100%;
    }
}

@media #{$xlarge-up} {
    @include grid-html-classes($size:xlarge);

    .full-width {
        max-width: 100%;
    }
}

@media #{$xxlarge-up} {
    @include grid-html-classes($size:xxlarge);

    .full-width {
        max-width: 100%;
    }
}


