@import '../libs/css3';

body {
  input[type='text'].input,
  input[type='email'].input,
  input[type='password'].input,
  input[type='search'].input {
    @include appearance(none);
  }
  .si-chat-msg{
    background: rgba(0,0,0,0.1);
    @include border-radius();
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-bottom: .3rem;
    width: 40%;
  }
}
