/*
 *  Estilos de tabelas
 */
@import '../libs/_utilities.scss';
@import '../libs/_utilities.scss';
$table-color: #25313E;
$table-color-light: lighten($table-color, 10%);

.table-blue{
	// @include outer-table-border;
	font-size: $font-size-lg;
	@include outer-table-borders(2px,$table-color);

	& >  thead {
		color: white;
		background: $table-color;
	}	
	th,td{
		padding: 0.5rem;
		text-align: center;
	}
	td {
		& > label{
			color: $table-color;
		}
	}

	// border: 2px solid rgba(52, 73, 94, 0.7) !important;
}