@charset "utf-8";
@import "../libs/_css3.scss";
// @import "../libs/css3/_transform.scss";
/**
 * TopBar Info
 */
$color-background:#00809b;

.topbar-info{
	@include border-corner-radius(top, left, 5px);
	@include border-corner-radius(top, right, 5px);
	background: $color-background;
	display: block;
	overflow: auto;
	margin: 0;
	padding: 0.3rem;
	.topbar-info-content{
		text-align: right;

		ul.menu-horizontal{
			position: relative;
			top:0;
			@include translateY(30%);
			display: inline-block;
			li{
				padding: 0 0.8rem;
				// border: 1px solid red;
			}
		}

		span.user-icon-fto{
			position: relative;
			top:0;
			@include translateY(-20%);

			display: inline-block;
			width: 3.5rem;
			height: 3.5rem;
			border: 1px solid red;
			margin-right: 5px;
			margin-left: 5px;
			@include border-radius(50%);

			// float: right;
		}

	}
}