@import "../libs/constants";
@import "../libs/mixins";
@import "../libs/css3";


@font-face {
    font-family: "DroidSans";
    src: url("../font/droidsans/DroidSans.eot?") format("embedded-opentype"),
        url("../font/droidsans/DroidSans.woff") format("woff"),
        url("../font/droidsans/DroidSans.ttf") format("truetype"),
        url("../font/droidsans/DroidSans.svg") format("svg");
}

@font-face {
    font-family: "MyriadPro";
    src: url("../font/myriadpro/myriadpro.eot?") format("embedded-opentype"),
        url("../font/myriadpro/myriadpro.woff") format("woff"),
        url("../font/myriadpro/myriadpro.ttf") format("truetype"),
        url("../font/myriadpro/myriadpro.svg") format("svg");
}

@font-face {
    font-family: "Candara";
    src: url("../font/candara/candara.eot?") format("embedded-opentype"),
        url("../font/candara/candara.woff") format("woff"),
        url("../font/candara/candara.ttf") format("truetype"),
        url("../font/candara/candara.svg") format("svg");
}

@font-face {
    font-family: "Monofur";
    src: url("../font/monofur/monof55.eot?") format("embedded-opentype"),
        url("../font/monofur/monof55.woff") format("woff"),
        url("../font/monofur/monof55.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans";
    src: url("../font/opensans/OpenSansRegular.eot?") format("embedded-opentype"),
        url("../font/opensans/OpenSansRegular.woff") format("woff"),
        url("../font/opensans/OpenSansRegular.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../font/roboto_regular/Roboto-Regular-webfont.eot?") format("embedded-opentype"),
        url("../font/roboto_regular/Roboto-Regular-webfont.woff") format("woff"),
        url("../font/roboto_regular/Roboto-Regular-webfont.ttf") format("truetype"),
        url("../font/roboto_regular/Roboto-Regular-webfont.svg") format("svg");
}

@font-face {
    font-family: "RobotoLight";
    src: url("../font/roboto_light/Roboto-Light-webfont.eot?") format("embedded-opentype"),
        url("../font/roboto_light/Roboto-Light-webfont.woff") format("woff"),
        url("../font/roboto_light/Roboto-Light-webfont.ttf") format("truetype"),
        url("../font/roboto_light/Roboto-Light-webfont.svg") format("svg");
}
//
// Tags
//

html {
    font-size: 62.5%;
}

html, body {
    background-color: #F5F6F7;
}

body {
    color: $color-gray;
    font-family: $font-family-sans;
    line-height: $line-height-md;
}

a, p, div, input, textarea, select,
header, footer, section,
h1, h2, h3, h4, h5, h6 {
    font-size: $font-size-md;
    font-weight: normal;
    @include box-sizing(border-box);

    &:focus {
        outline: none;
    }
}

small {
    color: $color-gray-light;
    font-size: $font-size-sm;
}

a {
    color: $color-blue-light;
    display: inline-block;
    text-decoration: none;

    &:hover {
        color: $color-blue;
        text-decoration: underline;
    }
}

a, button {
    i {
        margin-right: .6rem;
    }
}

