
        <div id="wrapper" class="app">
                <header class="">
                    <div class="header-bar">
                        <h1 class="title "><span>IF-AULA</span></h1>
                    </div>
                </header>
                            <div class="app-page page1">
                <!-- <h1>PhoneGap</h1> -->
                <form class="login-form dinamic-form" ng-submit="salvar(usuario)">
                    <div class="grupo-input">
                        <input type="text" ng-model="usuario.nome"/>
                        <label>Nome Completo</label>
                    </div>
                    <div class="grupo-input">
                        <input type="text" ng-model="usuario.username"/>
                        <label>Username</label>
                    </div>
                    <div class="grupo-input">
                        <input required type="password" ng-model="usuario.senha" />
                        <label>Senha</label>
                    </div>                    
                    <div class="grupo-input">
                        <input id="email-login" ng-model="usuario.email" type="email" />
                        <label>Email</label>
                    </div>
                    <button class="btn btn-flat btn-orange pull-left" ng-click="$back()">CANCELAR</button>
                    <button class="btn btn-flat btn-emerald pull-right">Cadastrar</button>
                </form>
            </div>
        </div>
      

