
            <div class="app-page page1 text-center">
                <!-- <h1>PhoneGap</h1> -->
                </br></br></br></br>
                 <div>
                    <button class="btn btn-flat btn-emerald" ng-click="goToPeriodos()">CADASTRO DE DISCIPLINAS</button>
                </div>  
                </br></br>
                <div>                  
                     <button class="btn btn-flat btn-emerald" ng-click="goToPerfil()">PERFIL</button>
                 </div>                 
                </br></br>
                <div>                  
                     <button class="btn btn-flat btn-red" ng-click="logout()">LOGOUT</button>
                 </div>
                </br></br></br>
                
            </div>