
            <div class="app-page page1">
                <!-- <h1>PhoneGap</h1> -->
                <ul class="list">

                    <li class="title-list list-item header-bar">

                        <h1 class="title "><span>Períodos {{ $rootScope.usernameTeste }}</span></h1>

                    </li>
                    <!-- Estrutura para periodos -->

                    <li ng-repeat="periodo in periodos" ng-click="goDisciplina(periodo.id)">
                        <label for="check-4" class="list-item">
                            <div class="list-content">
                                <span class="list-item-title">
                                    {{ periodo.title }}&nbsp&nbsp
                                </span>
                                <!-- <span class="ambiente">
                                    <span ng-repeat='disciplina in periodo.disciplinas'> {{ disciplina.sigla }}</span>
                                </span> -->
                            </div>
                            <a href="javascript:;"><i class="fa fa-chevron-right"></i></a>
                        </label>
                    </li>

                    <li class="end-list"></li>

                </ul>
            </div>