</br>

<h1 class="text-center">CHAT - {{ siglaDisciplina | uppercase }}</h1>
</br>
<hr>
</br>

<div class=" si-chat-msg bs-example" data-example-id="simple-del" ng-repeat="mensagem in mensagens | filter:{disciplina:siglaDisciplina}">

    <p><strong>{{ mensagem.from}} :</strong> {{ mensagem.text }}</p>
</div>

</br></br>
<form class="form-inline dinamic-form" ng-submit="sendMsg(mensagem)">
  <div class="form-group">
    <label for="exampleInputName2">Mensagem</label>
    <input type="text" class="form-control" id="exampleInputName2" ng-model="mensagem"/>

  </div>

  <button type="submit" class="btn btn-emerald">Send <i class="fa fa-angle-right"></i></button>
</form>