<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <!--<meta name="format-detection" content="telephone=no" />
         <meta name="msapplication-tap-highlight" content="no" /> -->
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>
        <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.min.css" />

        <title>Projeto Integrador</title>
        <!-- Latest compiled and minified CSS -->

<!-- Optional theme -->



    </head>
    <body ng-app="projetointegrador">

        <div id="wrapper" class="app" ng-controller="MainCtrl">
            <header class="" ng-hide="$location.path() == '/' || $location.path() == '/cadastro' || $location.path() == '/recuperarsenha'">
                <div class="header-bar">
                    <div class="header-buttons left-icons">
                        
                        <a class="btn-action content-vertical-aling" ng-click="$back()"><i class="fa fa-chevron-left"></i></a>
                    </div>
                    <h1 class="title "><span>S.I CHECK </span></h1>
                    <div class="header-buttons right-icons">
                        <a class="btn-action content-vertical-aling"  ng-class="{active: $location.path() == '/help'}" ng-click="goToHorario()"><i class="fa fa-clock-o"></i></a>
                        <a class="btn-action content-vertical-aling"  ng-class="{active: $location.path() == '/help'}"><i class="fa fa-question-circle"></i></a>
                    </div>
                </div>
                <!-- menu table -->
                <div class="sub-menu">
                    <ul class="horizontal-menu">
                        <li ng-click="goToConfig()" ng-class="{active: $location.path() == '/configuracoes'}"><i class="fa fa-gear"></i></li>
                        <li ng-click="goToDashboard()" ng-class="{active: $location.path() == '/dashboard'}"><i class="fa fa-home"></i></li>
                        <li ng-click="goToChat()" ng-class="{active: $location.path() == '/chatsList/'+username}"><i class="fa fa-comment"></i></li>
                    </ul>
                </div>
            </header>

            <div ng-view=""></div>

        </div>


        <!-- Dependências : Modulos
         <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script> -->

        <!-- Latest compiled and minified JavaScript -->
        <script src="./lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="./lib/angular/angular.min.js"></script>
        <script type="text/javascript" src="./lib/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="./lib/angular-animate/angular-animate.min.js"></script>
        <script src="./lib/socket.io-client/socket.io.js"></script>
        <script src="./lib/angular-socket-io/socket.js"></script>
              <!--

        <script src="./lib/socket.io/lib/socket.js"></script>
        <script src=""></script> -->
        <script type="text/javascript" src="./lib/angular-local-storage/dist/angular-local-storage.min.js"></script>
        <script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="./lib/angular-modal-service/dst/angular-modal-service.min.js"></script>

        <script src="views/app.js"></script>

        <!-- Dependências : header -->
        <script src="views/MainCtrl.js"></script>

        <!-- Dependências : login -->
        <script src="views/login/LoginCtrl.js"></script>
        <script src="views/login/LoginFactory.js"></script>

        <!-- Dependências : disciplinas e periodos -->
        <script src="views/disciplinas/DisciplinasCtrl.js"></script>
        <script src="views/disciplinas/DisciplinasFactory.js"></script>

        <!-- Dependências : periodos -->
        <script src="views/periodos/PeriodosCtrl.js"></script>

        <!-- Dependências : ambientes -->
        <script src="views/ambientes/AmbientesCtrl.js"></script>
        <script src="views/ambientes/AmbientesFactory.js"></script>

        <!-- Dependências : chats -->
        <script src="views/chat/ChatCtrl.js"></script>
        <script src="views/chat/ChatFactory.js"></script>

        <!-- Dependências : chats-list -->
        <script src="views/chatsList/ChatsListCtrl.js"></script>
        <script src="views/chatsList/ChatsListFactory.js"></script>


        <!-- Dependências : dashboard -->
        <script src="views/dashboard/DashboardCtrl.js"></script>
         <script src="views/dashboard/DashboardFactory.js"></script>

        <!-- Dependências : configurações -->
        <script src="views/configuracoes/ConfiguracoesCtrl.js"></script>
        <script src="views/configuracoes/ConfiguracoesFactory.js"></script>

        <!-- Dependências : recuperarsenha -->
        <script src="views/recuperarsenha/RecuperarSenhaCtrl.js"></script>
        <script src="views/recuperarsenha/RecuperarSenhaFactory.js"></script>

        <!-- Dependências : cadastro usuario -->
        <script src="views/usuario/UsuarioCtrl.js"></script>
        <script src="views/usuario/UsuarioFactory.js"></script>

        <!-- Dependências : Horario -->
        <script src="views/horario/HorarioCtrl.js"></script>
        <script src="views/horario/HorarioFactory.js"></script>

        <!-- Dependências : perfil -->
        <script src="views/perfil/PerfilCtrl.js"></script>
        <script src="views/perfil/PerfilFactory.js"></script>

        <!-- Dependências : headerBar
        <script src="views/headerBar/headerBarDirective.js"></script>

        <script>

        var objeto = document.getElementById("login-button");

        function fadeOut(elementToFade)
        {
            var element = document.getElementById(elementToFade);

            var wrapper = document.getElementsByClassName("wrapper")
            wrapper.setAttribute("class", "form-success");

            element.style.opacity -= 0.1;
            if(element.style.opacity < 0.0) {
                element.style.opacity = 0.0;
            } else {
                setTimeout("fadeOut(\"" + elementToFade + "\")", 100);
            }
        }


        </script>
    </body>
</html>
