
        <div id="wrapper" class="app">
                <header class="">
                    <div class="header-bar">
                        <h1 class="title "><span>IF-AULA</span></h1>
                    </div>
                </header>
                <div class="app-page page1">
                    <div class="login-content">
                        <form class="login-form dinamic-form" ng-submit="cadastrar(usuario)">
                            <header>
                                Recuperar Senha: <span style="color:red;" ng-show="falhou">Algo está incorreto !</span>
                            </header>
                            <div class="grupo-input">
                                <input required id="email-login" type="text" ng-model="usuario.username" />
                                <label>Email</label>
                            </div>
                            
                            <button class="btn btn-flat btn-orange pull-left" ng-click="$back()">CANCELAR</button>
                            <button class="btn btn-flat btn-emerald pull-right" >ENVIAR</button>
                        </form>
                        
                    </div>
                </div>
        </div>
      

