
            <div class="app-page page1">
                <!-- <h1>PhoneGap</h1> -->
                <ul class="list">
                    <li class="title-list list-item">
                        <h1 class="h1">Chats de disciplinas</h1>
                        <small>Escolha uma disciplina para entrar na sala, troque ideias e informações.</small>
                    </li>


                    <!-- Estrutura para periodos -->
                    <li ng-repeat="disciplina in disciplinas">
                        <label for="check-4" class="list-item">
                            <div class="list-content">
                                <span class="list-item-title chat-uppercase">
                                    {{ disciplina.sigla | uppercase}}
                                </span>
                                <span class="ambiente">
                                    {{ disciplina.nome | capitalize }}
                                </span>
                            </div>
                            <a ng-href="#/chat/{{disciplina.sigla}}"><i class="fa fa-chevron-right"></i></a>
                        </label>
                    </li>

                    <li class="end-list"></li>

                </ul>
            </div>
