            <div class="app-page page1 text-center">
                
                <form class="dinamic-form" ng-submit="atualizar(usuario)">

                    <header>
                        CONFIGURAÇÕES DE PERFIL
                    </header>
                     <header>
                                <span style="color:red;" ng-show="falhou">Algo está incorreto !</span>
                    </header>
                    <div class="grupo-input">
                        <input required type="text" ng-model="usuario.nome">
                        <label>Nome</label>
                    </div>
                    <div class="grupo-input">
                        <input required type="text" ng-model="usuario.username">
                        <label>Username</label>
                    </div>
                    <div class="grupo-input">
                        <input required type="email" ng-model="usuario.email">
                        <label>Email</label>
                    </div>
                   <!--  <div class="grupo-input">
                        <input required type="password" ng-model="usuario.senha">
                        <label>Senha</label>
                    </div> -->
                    <button class="btn btn-flat btn-emerald pull-right">Atualizar</button>
                </form>
            </div>