<div class="bs-example" data-example-id="striped-table" ng-controller="AmbientesCtrl">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Bloco</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ambiente in ambientes">
        <th scope="row">{{ $index }}</th>
        <td>{{ ambiente.nome }}</td>
        <td>{{ ambiente.descricao}}</td>
        <td>{{ ambiente.bloco}}</td>
      </tr>
      
    </tbody>
  </table>


  <form class="form-inline" ng-submit="salvarAmbiente()">
    <div class="form-group">
      <label for="exampleInputName2">Nome</label>
      <input type="text" class="form-control" id="exampleInputName2" ng-model="ambiente.nome">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail2">Descrição</label>
      <input type="text" class="form-control" id="exampleInputEmail2" ng-model="ambiente.descricao">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail2">Bloco</label>
      <input type="text" class="form-control" id="exampleInputEmail2" ng-model="ambiente.bloco">
    </div>
    <button type="submit" class="btn btn-default">Send invitation</button>
  </form>

</div>
