
            <div class="app-page page1">
                <!-- <h1>PhoneGap</h1> -->
                <ul class="list">

                    <li class="title-list list-item header-bar">

                        <h1 class="title "><span>Disciplinas do {{ idPeriodo }}º Período</span></h1>

                    </li>

                    <!-- Estrutura para matérias |  filter: { periodo:idPeriodo}" -->
                    <li ng-repeat="disciplina in disciplinas" >
                        <label for="check-1" class="list-item">
                            <div class="list-content">
                                <span class="list-item-title">
                                    {{ disciplina.sigla | uppercase }}
                                </span>
                                &nbsp&nbsp
                                <span class="ambiente">
                                    {{ disciplina.nome | capitalize }}
                                </span>
                            </div>
                            <!-- <span class="checkin-time">18:30</span> -->

                            <div class="checkbox">
                                <input class="check-disciplina" type="checkbox" ng-model="checkDisciplina" ng-click="stateChanged(checkDisciplina,disciplina.sigla)" ng-checked="verifCheckbox(disciplina)" />
                            </div>
                        </label>
                    </li>



                    <li class="end-list"></li>

                </ul>
            </div>