@import "libs/mixins/prefix";
@import "libs/css3";
@import "libs/constants/colors";
@import "libs/constants/typography";

html,body{
	min-height: 100% !important;
  	height: 100% !important;
	// overflow: hidden;
	font-family: $font-family-robotoRegular;
}
.content-vertical-aling{
	*{
		position: relative;
		top: 50%;
		@include translateY(-50%);
	}

}
#wrapper{
	display: block;
	width: 100%;
	height: 100%;
	display: block;
	h1{
		// padding: 0;
		margin: 0;
	}
}
.horizontal-menu{
	list-style: none;
	overflow: auto;
	li{
		float: left;
	}
}

.app-page{
	display: block;
	width: 100%;
}
.list{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	li.title-list{
		background: #f1f1f1;
		flex-direction: column;
		h1{
			color: black;
			padding: 0.6rem 0;
		}
		small{
			font-size: 0.8em;
		}
	}

	li.list-item,
	label.list-item{
		&:active:not(&.title-list){
			background: rgba(0,0,0,0.05);
		}
		display: flex;
		padding: 1.3rem .5rem;
		border-bottom:1px solid rgba(0,0,0,0.1);
		color: #333;
		padding-right: 2rem;
		padding-left: 2rem;
		position: relative;
		.list-content {
			width: 65%;
			display: flex;
			flex-direction: column;
			flex: 1;
			.list-item-title{
				// font-weight: bolder;
				color: black;
			}
			.ambiente{
				font-size: 0.8em;
				color: rgba(0,0,0,0.6);
			}
		}// .content
		.checkin-time{
			width: 25%;
			text-align: center;
			position: relative;
			@include translateY(25%);
		}
		.checkbox{
			position: relative;
			top: .8rem;
			width: 10%;
			input{
				font-size: 2rem;
			}
		}
		a{
			color: rgba(0,0,0,0.2);
			padding: 0;
			position: absolute;
			height: 100%;
			width: 10%;
			top: 100%;
			left: 100%;
			transform: translate(-115%, -100%);

			i{
				text-align: center;width: 100%;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}//list-item
	li.end-list{
		background: #f8f8f8;
		padding:1rem 0;
		// border-bottom: none;
		box-shadow: inset 0 1px 4px -1px rgba(0,0,0,0.1);
	}
}//list
.login-content{
	width: 80%;
	margin: 0 auto;
	position: relative;
	top: 3em;
	.links-login-form{
		font-size: 0.9em;
		a{font-size: 1em;}
	}

}