@import "libs/mixins/prefix";
@import "libs/css3";
@import "libs/constants/colors";
@import "libs/constants/typography";

html,body{
	min-height: 100% !important;
  	height: 100% !important;
	// overflow: hidden;
	font-family: $font-family-robotoRegular;
}
.content-vertical-aling{
	*{
		position: relative;
		top: 50%;
		@include translateY(-50%);
	}

}
#wrapper{
	display: block;
	width: 100%;
	height: 100%;
	display: block;
	h1{
		// padding: 0;
		margin: 0;
	}
}
.horizontal-menu{
	list-style: none;
	overflow: auto;
	li{
		float: left;
	}
}

.app-page{
	display: block;
	width: 100%;
}
.list{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	li.title-list{
		background: #f1f1f1;
		flex-direction: column;
		h1{
			color: black;
			padding: 0.6rem 0;
		}
		small{
			font-size: 0.8em;
		}
	}

	li.list-item,
	label.list-item{
		&:active:not(&.title-list, &.li-disciplina){
			background: rgba(0,0,0,0.05);
		}

		display: flex;
		padding: 0.9rem .5rem;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		color: #333;
		padding-right: 2rem;
		padding-left: 2rem;
		position: relative;

		.list-content {
			width: 80%;
			min-height: 4rem;
			height: auto;
			display: flex;
			flex-direction: row;

			.list-item-title{
				// font-weight: bolder;
				color: black;
			}
			.chat-uppercase{
				margin-right: 1rem;
			}
			.ambiente{
				font-size: 0.8em;
				color: rgba(0,0,0,0.6);
			}
			.list-item-up-title{
				width: 60px;
				height: 60px;
				font-size: 0.8em;
				color: #666;
				text-align: center;
				padding: 0;
				display: flex;
				justify-content: center;
				flex-direction: column;
				margin-right: 1rem;
				background: rgba(0,0,0,0.1);
			}
			.disciplina-horario{
				display: flex;
				flex-direction:row;
				align-items: center;
				flex: 1;
				span{
					width: 50%;
					text-align: center;
					&:last-child{
						border-left: 2px groove #fefefe;
					}
				}
			}
		}// .content

		.check-pin{
			width: 10%;
			display: flex;
			justify-content: center;
			align-items: center;
			i{
				opacity: 0.8;
				:hover{
					cursor: pointer;
					color: dodgerblue;
				}
			}

		}

		.list-content-legenda {
			padding: 0;
			.horario{
				padding: 0;
				display: flex;
				span{
					width: 50%;
					font-size: 0.7em;
				}
			}
		}
		.checkin-time{
			width: 10%;
			text-align: center;
			position: relative;
			font-size: 1em !important;
			@include translateY(25%);
		}
		.checkbox{
			position: relative;
			top: .8rem;
			width: 10%;
			input{
				font-size: 2rem;
				width: 2rem !important;
				height: 2rem !important;
			}
		}
		a{
			color: rgba(0,0,0,0.2);
			padding: 0;
			position: absolute;
			height: 100%;
			width: 10%;
			top: 100%;
			left: 100%;
			transform: translate(-115%, -100%);

			i{

				text-align: center;width: 100%;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}//list-item
	li.li-disciplina{
		&:nth-child(odd){
			background-color: rgba(0,0,0,0.04);
		}
	}
	label.list-item.legenda-lista{
		padding-top: 0.6rem;
		padding-bottom: 0.6rem;
		color: silver;
	}
	li.end-list{
		background: #f8f8f8;
		padding:1rem 0;
		// border-bottom: none;
		box-shadow: inset 0 1px 4px -1px rgba(0,0,0,0.1);
	}
}

.login-content{
	width: 80%;
	margin: 0 auto;
	position: relative;
	top: 3em;
	.links-login-form{
		font-size: 0.9em;
		a{font-size: 1em;}
	}

}

.nobg{
	background: transparent !important;
}