@charset "utf-8";

@import "elements/normalize";
@import "elements/typography";
@import "elements/form";
@import "elements/buttons";
@import "elements/tables";

@import "elements/classes";
@import "elements/glyphicons";
@import "elements/fontawesome";
@import "elements/grid";

@import "elements/input";

@import "components/topbar";
@import "components/footer";


@import "elements/topbarInfo";
@import "components/_headerbar.scss";

@import "pageStyle";

ng-view {
    display: block;
    position: relative;
}
.ng-enter {
    -webkit-animation: enter 1s ease-in;
    animation: enter 1s ease-in;
}
.ng-leave {
    -webkit-animation: leave .5s ease-in;
    animation: leave .5s ease-in;
}
@-webkit-keyframes enter {
    0%,50% {opacity: 0} 100% {opacity: 1}
}
@keyframes enter {
    0%,50% {opacity: 0} 100% {opacity: 1}
}
@-webkit-keyframes leave {
    0%,50% {opacity: 1} 100% {opacity: 0}
}
@keyframes leave {
    0%,50% {opacity: 1} 100% {opacity: 0}
}


/**
 * #02FAC6
 * #2F0396
 */