// General

$color-blue: #116EA4;
$color-blue-lighter: lighten($color-blue, 30%);
$color-blue-light: lighten($color-blue, 10%);
$color-blue-dark: darken($color-blue, 10%);
$color-blue-darker: darken($color-blue, 30%);

$color-brandeis-blue: #0070FF;
$color-brandeis-blue-lighter: lighten($color-blue, 30%);
$color-brandeis-blue-light: lighten($color-blue, 10%);
$color-brandeis-blue-dark: darken($color-blue, 10%);
$color-brandeis-blue-darker: darken($color-blue, 30%);

$color-cerulian: #2A52BE;
$color-cerulian-lighter: lighten($color-blue, 30%);
$color-cerulian-light: lighten($color-blue, 10%);
$color-cerulian-dark: darken($color-blue, 10%);
$color-cerulian-darker: darken($color-blue, 30%);

$color-gray: lighten(#000, 33.5%);
$color-gray-dark: lighten(#000, 20%);
$color-gray-darker: lighten(#000, 13.5%);
$color-gray-light: lighten(#000, 50%);
// $color-gray-lighter: lighten(#000, 80%);
$color-gray-lighter: #aaa;

$color-green: #06798B;
$color-green-lighter: lighten($color-green, 30%);
$color-green-light: lighten($color-green, 10%);
$color-green-dark: darken($color-green, 10%);
$color-green-darker: darken($color-green, 30%);

$color-lime: #9eb63c;
$color-lime-lighter: lighten($color-lime, 30%);
$color-lime-light: lighten($color-lime, 10%);
$color-lime-dark: darken($color-lime, 10%);
$color-lime-darker: darken($color-lime, 30%);

$color-orange: #f0ad4e;
$color-orange-lighter: lighten($color-orange, 30%);
$color-orange-light: lighten($color-orange, 10%);
$color-orange-dark: darken($color-orange, 10%);
$color-orange-darker: darken($color-orange, 30%);

$color-purple: #8e4c9b;
$color-purple-lighter: lighten($color-purple, 30%);
$color-purple-light: lighten($color-purple, 10%);
$color-purple-dark: darken($color-purple, 10%);
$color-purple-darker: darken($color-purple, 30%);

$color-red: #d9534f;
$color-red-lighter: lighten($color-red, 30%);
$color-red-light: lighten($color-red, 10%);
$color-red-dark: darken($color-red, 10%);
$color-red-darker: darken($color-red, 30%);

$color-yellow: #f4c414;
$color-yellow-lighter: lighten($color-yellow, 30%);
$color-yellow-light: lighten($color-yellow, 10%);
$color-yellow-dark: darken($color-yellow, 10%);
$color-yellow-darker: darken($color-yellow, 30%);

// Specific

$color-twitter: #00adef;
$color-facebook: #335397;
$color-google-plus: #dd4a38;
$color-linkedin: #3e92bb;

// Elements

$color-link: $color-blue;
$color-link-hover: darken($color-blue, 15%);
$color-link-disabled: $color-gray-light;

//
// Adicionado por: Djanilson Alves
// Modificando 30/05/2014
// Flat Ui Colors
//

$turquoise:#1abc9c;
$green_sea:#16a085;

$emerald:#2ecc71;
$nephritis:#27ae60;

$peter_river:#3498db;
$belize_hole:#2980b9;

$amethyst:#9b59b6;
$wisteria:#8e44ad;

$wet_asphalt:#34495e;
$midnight_blue:#2c3e50;

$sun_flower:#f1c40f;
$orange:#f39c12;

$carrot:#e67e22;
$pumpkin:#d35400;

$alizarin:#e74c3c;
$pomegranate: #c0392b;

$clouds:#ecf0f1;
$silver:#bdc3c7;

$concrete:#95a5a6;
$asbestos:#7f8c8d;