$font-family-sans: Candara, DroidSans, MyriadPro, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-mono: Monofur, "Courier New", monospace;
$font-family-robotoRegular: "RobotoRegular";
$font-family-robotoLight: "RobotoLight";

$font-size-sm: 1.4rem;
$font-size-md: 1.6rem;
$font-size-lg: 2.4rem;

$font-size-h1: 3.6rem;
$font-size-h2: 3.0rem;
$font-size-h3: 2.2rem;
$font-size-h4: 1.8rem;
$font-size-h5: 1.4rem;
$font-size-h6: 1.2rem;

$line-height-sm: 1.1;
$line-height-md: 1.1;
$line-height-lg: 1.1;