<div class="app-page page1">
                <!-- <h1>PhoneGap</h1> -->
                <ul class="list">
                    <li class="title-list list-item">
                        <h1 class="h1 text-center">Meu Horário</h1>

                    </li>
                    <!-- Legenda -->
                    <li class="li-disciplina">
                        <label for="check-1" class="list-item legenda-lista">

                            <div class="list-content">
                                <span class="list-item-up-title nobg">
                                    Dia
                                </span>
                                <div class="disciplina-horario">

                                    <span ng-repeat="disciplina in disciplinas"
                                    ng-show="checkDia(disciplina,2,18)">

                                  18:50

                                    </span>

                                    <span ng-repeat="disciplina in disciplinas"
                                    ng-show="checkDia(disciplina,2,20)">

                                        20:40

                                    </span>

                                </div>
                            </div>
                        </label>
                    </li>
                    <!-- Estrutura para matérias -->
                    <li class="li-disciplina">
                        <label for="check-1" class="list-item">
                            <div class="list-content">
                                <span class="list-item-up-title">
                                    Segunda-feira
                                </span>
                                <div class="disciplina-horario">

                                    <span ng-repeat="disciplina in disciplinas"
                                    ng-show="checkDia(disciplina,2,18)">

                                        {{ disciplina.sigla | uppercase }}

                                    </span>

                                    <span ng-repeat="disciplina in disciplinas"
                                    ng-show="checkDia(disciplina,2,20)">

                                        {{ disciplina.sigla | uppercase }}

                                    </span>

                                </div>
                            </div>
                        </label>
                    </li>
                    <li class="li-disciplina">
                        <label for="check-1" class="list-item">
                            <div class="list-content">
                                <span class="list-item-up-title">
                                    Terça-feira
                                </span>
                                <div class="disciplina-horario">

                                    <span ng-repeat="disciplina in disciplinas"
                                    ng-show="checkDia(disciplina,3,18)">

                                        {{ disciplina.sigla | uppercase }}

                                    </span>

                                    <span ng-repeat="disciplina in disciplinas"
                                    ng-show="checkDia(disciplina,3,20)">

                                        {{ disciplina.sigla | uppercase }}

                                    </span>

                                </div>
                            </div>
                        </label>
                    </li>
                    <li class="li-disciplina">
                        <label for="check-1" class="list-item">
                            <div class="list-content">
                                <span class="list-item-up-title">
                                    Quarta-feira
                                </span>
                                <div class="disciplina-horario">

                                    <span ng-repeat="disciplina in disciplinas"
                                    ng-show="checkDia(disciplina,4,18)">

                                        {{ disciplina.sigla | uppercase }}

                                    </span>

                                    <span ng-repeat="disciplina in disciplinas"
                                    ng-show="checkDia(disciplina,4,20)">

                                        {{ disciplina.sigla | uppercase }}

                                    </span>

                                </div>
                            </div>
                        </label>
                    </li>
                    <li class="li-disciplina">
                        <label for="check-1" class="list-item">
                            <div class="list-content">
                                <span class="list-item-up-title">
                                    Quinta-feira
                                </span>
                                <div class="disciplina-horario">

                                    <span ng-repeat="disciplina in disciplinas"
                                    ng-show="checkDia(disciplina,5,18)">

                                        {{ disciplina.sigla | uppercase }}

                                    </span>

                                    <span ng-repeat="disciplina in disciplinas"
                                    ng-show="checkDia(disciplina,5,20)">

                                        {{ disciplina.sigla | uppercase }}

                                    </span>

                                </div>
                            </div>
                        </label>
                    </li>
                    <li class="li-disciplina">
                        <label for="check-1" class="list-item">
                            <div class="list-content">
                                <span class="list-item-up-title">
                                    Sexta-feira
                                </span>
                                <div class="disciplina-horario">

                                    <span ng-repeat="disciplina in disciplinas"
                                    ng-show="checkDia(disciplina,6,18)">

                                        {{ disciplina.sigla | uppercase }}

                                    </span>

                                    <span ng-repeat="disciplina in disciplinas"
                                    ng-show="checkDia(disciplina,6,20)">

                                        {{ disciplina.sigla | uppercase }}

                                    </span>

                                </div>
                            </div>
                        </label>
                    </li>


                    <li class="end-list"></li>

                </ul>
            </div>